table{
    margin:7% 4%;
}
.product td, .product th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .product tr:nth-child(even){background-color: #fff;}
  
  .product tr:hover {background-color: #ddd;}
  
  .product th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }

