body{
    background-color:  #7EA6C2;
  }
  #box{
    margin-top:0;
    width:100%;
    display: flex;
  
  }
  #box .box-1{
    width:15%;
    margin-left:0;
  }
  #box .box-2{
    /* margin-left:%; */
    width: 85%;
  }
  
  .vertical-menu {
  
    height: 100%;
  }
  
  .vertical-menu a {
    background-color: #eee;
    color: black;
    border: 1px solid #9C9C9C;
  
    display: block;
    padding: 14px;
    text-decoration: none;
  }
  
  .vertical-menu a:hover {
    background-color: #ccc;
  }
  
  .vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
  }
  /*horizontal*/
  a.homecolor{
    background-color: #1abc9c;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1abc9c;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover{
    background-color: #ccc;
  }
  

  .dashboard{
    border:1px solid #9C9C9C;
    background-color: #EAEAEA;
    margin-left: .2%;
    margin-top: .2%;
    height: 500px;
    overflow: hidden;
  }